# Программирование для всех (основы работы в Python)

## Типы переменных и преобразование типов. Ввод и вывод.

### Типы переменных и преобразование типов

Типы переменных (не путать с *data types* и *data scales*):

* числовой с плавающей точкой (*float*);
* целочисленный (*integer*);
* строковый или текстовый (*string*);
* логический или булев (*boolean*): только два значения `True` и `False`.

Посмотрим, как определить тип переменной (функция `type()`):

In [1]:
x = 2.34
type(x)

float

In [2]:
y = 5
type(y)

int

In [3]:
name = "Alla"
type(name)

str

In [4]:
type(True)

bool

Иногда требуется преобразовать тип переменной, например, из числа с плавающей точкой сделать целое число. Зачем это бывает нужно? Для удобства и для более корректной выдачи результатов. Например, у нас есть база данных по респондентам, в которой указан их год рождения, и мы хотим добавить столбец с возрастом респондентов (числом полных лет). Из-за того, что кто-то ввел год в виде 1993.0, возраст при вычислениях тоже получится числом с плавающей точкой — 25.0. Так как мы знаем, что возраст всегда будет целым, чтобы дробная часть не смущала, можно привести все значения к целочисленному типу.

In [5]:
int(25.0) # int - от integer

25

In [6]:
int("23")

23

In [7]:
str(45)  # str - от string

'45'

In [8]:
float("23.56")

23.56

Однако, если преобразование невозможно, Python выдаст ошибку (а точнее, исключение `ValueError`, про исключения поговорим позже):

In [9]:
float("23,56")

ValueError: could not convert string to float: '23,56'

Так как запятая в Python не воспринимается как десятичный разделитель (в качестве разделителя используется точка), превратить строку `'23,56'` в число не получится, нужно будет сначала заменить запятую на точку. Как работать со строками, мы обсудим позже, но если интересно, можно сделать следующее: создать любую строковую переменную, а потом после её названия поставить точку и нажать *Tab*. Так же, как и в случае с модулем `math`, выпадет список всех возможных методов, которые можно применять к строке.

### Не самые популярные типы переменных
В целях простоты обучения мы остановились на самых простых "повседневных" типах переменных, однако Python довольно красивый и сложный язык в котором есть более сложный и продвинутый функционал для специфичных нужд. Например комплексные `complex()` и мнимые числа.

Комплексное число тип complex состоит из двух чисел с плавающей точкой, представляющих соответственно его действительную и мнимую части. Доступ к обеим частям комплексного объекта x обеспечивают атрибуты `x. real` и `x. imag`, доступные только для чтения. Мнимый литерал можно задать с помощью числа с плавающей точкой или десятичного дробного числа с фиксированной точностью с добавлением в конец буквы `j` или `J`, в результате получим комплексное число с нулевой вещественной частью, которое можно добавить к целому числу или числу с плавающей точкой, чтобы получить комплексное число с действительными и мнимыми частями.

Машинописный обратный апостроф *`*

In [18]:
# Варианты записи комплексных чисел
0j, 0.j, 0.3j, .8j, 1j, 2.j, 1.+3j, 1e1+2J, 1.e-3+1j, 1.5e+4+2j, 1.5e+4+78.1e-1J
# (0j, 0j, 0.3j, 0.8j, 1j, 2j, (1+3j), (10+2J), (0.001+1j), (15000+2j), (15000+7.81J))

x = 78.1e-1j # мнимая часть
x = x + 1.5e+4 # складываем в вещественным числом
x

(15000+7.81j)

In [19]:
x.real # мнимая часть

15000.0

In [20]:
x.imag # реальная часть

7.81

Eщё одним интересным видом перемнных являются дроби, которые можно использовать импортировав из библиотеки `Fractions`

In [21]:
from fractions import Fraction
a = Fraction(5, 6) # a = 5/6
b = Fraction(8, 12) # b = 2/3
c = a + b
print(c)

3/2

In [51]:
from math import pi, cos
print(Fraction(cos(pi/3)))

4503599627370497/9007199254740992

In [48]:
from fractions import Fraction
old_price, new_price = 499, 672
"{:.2%} price increase".format(Fraction(new_price, old_price) - 1)

TypeError: unsupported format string passed to Fraction.__format__

### Ввод и вывод

Иногда возникает необходимость запросить какую-нибудь информацию у пользователя — попросить ввести её с клавиатуры. Это может быть нужно, например, когда мы пытаемся имитировать заполнение какой-нибудь формы (собрать информацию и обработать) или написать функцию, которая будет работать по-разному в зависимости от режима ("Если хотите выгрузить данные из файла, нажмите 1, если хотите вводить данные вручную, введите 2").

Запросить данные с клавиатуры можно с помощью функции `input()`:

In [56]:
s = input("Enter something:")

Enter something: 12

In [11]:
print(s)

Something

Давайте рассмотрим ещё один пример и запросим у пользователя его возраст:

In [57]:
age = input("Enter your age: ")

Enter your age:  21

In [58]:
age

'21'

Введенное нами значение сохранилось. Однако, если посмотреть внимательнее, это не совсем число: число пять стоит в кавычках. Это строка! То есть обычный текст. Проверим:

In [ ]:
type(age)  # действительно

Тут нам как раз и пригодится преобразование типов переменных:

In [61]:
age = int(input("Любое сообщение"))

Любое сообщение 12

Теперь все правильно, с `age` можно работать как с числом:

In [60]:
type(age)

int

В заключение рассмотрим пример с вводом двух чисел с новой строки (необязательно целых). Сохраним введенные пользователем числа в переменные `A` и `B`, а потом выведем на экран их сумму и разность в одну строку:

In [74]:
A = float(input("Enter a number A: "))
B = float(input("Enter a number B: "))
print("Sum:", A + B, "Difference:", A - B, sep="\n")

Enter a number A:  21
Enter a number B:  21

Sum:
42.0
Difference:
0.0

В коде выше в функции `print()` мы задействовали аргумент `sep`. Это разделитель, который отделяет элементы в строке, выводимой с помощью `print()`. Как мы видели, по умолчанию функция `print()` выводит все элементы через пробел. Другими словами, значение `sep` по умолчанию — это `" "`. В этом примере мы записали `\t`, это специальный символ для табуляции, отступа в четыре пробела. Но вообще символ в `sep` может быть любым.

In [71]:
A = float(input("Enter a number A: "))
B = float(input("Enter a number B: "))
print("Sum:%.2f \nDifference:%.2f" % (A + B,  A - B)) 
#This way of working with text has been shipped with Python since the beginning, 
#and it's also known as C-style formatting, as it originates from the C programming language. 
# %s is a placeholder for strings, %i is a placeholder for strings, 
#%f is a placeholder for floating point numbers. The ".2" before the f is what indicates how many digits we want displayed after the decimal point.

Enter a number A:  2312
Enter a number B:  124

Sum:2436.00
Difference:2188.00

In [72]:
# F-string
A = float(input("Enter a number A: "))
B = float(input("Enter a number B: "))
print(f"Sum: {A+B} \nDifference: {A-B}")

Enter a number A:  3212
Enter a number B:  123

Sum: 3335.0
Difference: 3089.0